.player {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 120px;
    text-align: center;

    &:not(:last-of-type) {
        margin-right: -6px;
    }

    &__photo {
        max-width: 50px;
        max-height: 50px;
        border-radius: 50%;
        border: 2px solid #fff;
        background-color: #f0f0f0;
        box-shadow: 0 0 1px 1px #f4f4f4;
    }

    p {
        font-size: 10px;
        text-transform: uppercase;
        color: #595959;
    }

    &__points {
        display: flex;
        flex-direction: column;
        align-items: center;

        .circle {
            position: relative;
            border-radius: 50%;
            border: 0.5px solid #ddd;
            background-color: #fff;
            min-height: 34px;
            min-width: 34px;
            background-color: #f0f0f0;


            span {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 50%;
                left: 50%;
                margin-left: -15px;
                margin-top: -15px;
                width: 30px;
                height: 30px;
                font-size: 16px;
                font-weight: bold;
                border-radius: 50%;
                border: 0.5px solid #ddd;
                background-color: #fff;
                color: #4a4a4a;
                font-family: MorganPosterAvec;
            }
        }


        p {
            color: #737373;
        }
    }
}
