@font-face {
    font-family: "MorganPosterAvec";
    src: local("MorganPosterAvec"),
      url("../assets/fonts/MorganPosterAvec-Regular.otf") format("opentype");
    font-weight: normal;
  }

@font-face {
    font-family: "SFProDisplay";
    src: local("SFProDisplay"),
      url("../assets/fonts/SFProDisplay-Regular.ttf") format("truetype");
    font-weight: normal;
  }